@model IEnumerable<MajorProject.Models.Signup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
@if (Context.User.Identity.IsAuthenticated)
{
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SignupId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SignupId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SignupId })
            </td>
}
        </tr>
    }
    
    </table>

